@charset "UTF-8";


* {
    padding: 10px;
    width: 650px;
    margin: auto;
    border-radius: 20px;
}

body {
    
    background-color: aquamarine;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

/*
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    */


    font: italic lighter 1em 'Courier New', Courier, monospace;

}

main {
    
    background-color: black;
    color: white;
}

h1 {
    text-align: center;

    font: normal bold 3em 'courier new', courier, monospace;

}

h2 {

    font: normal bold 2em 'courier new', courier, monospace;

}