@charset "UTF-8";


body{
    background-color: rgb(194, 175, 151);
}
table{
    width: 300px;
    border-collapse: collapse;
}
#linha1{
    background-color: rgb(240, 167, 78);
    text-transform: uppercase;
}
td{
    border: 1px solid black;
    padding: 8px;
}