@charset "UTF-8";


body{
    background-image: url("imagens/wallpaper001.jpg");
}
.quadrado{
    display: inline-block;
    border: 3px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: aquamarine;
}
div#quadrado1{
    background-image: linear-gradient(to left, rgb(229, 255, 0), rgb(0, 255, 42));
}
div#quadrado2{
    background-color: blue;
}
div#quadrado3{
    background-image: url("imagens/pattern001.png");
}