@charset "UTF-8";


*{
    margin: auto;
    
}

body{
    
    background-color: rgb(0, 0, 0)
}
main{
    color: #203133;
    width: 700px;
    background-color: #332320;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(105, 64, 64, 0.5);
}

h1#principal{
    text-align: center;
    background-color: #1E1E14;
    border-radius: 20px;
}

h1{
    color: rgb(0, 145, 145);
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avançado{
    color: red;
}