@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

:root{
    --cor-primaria: #F2B705;
    --cor-secundaria: #D97904;
    --cor-destaque: #049DBF;

    --font-unica: 'Kablammo', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/fundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

main{
    background-color: white;
    width: 200px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 20px;

    background-image: url(../imagens/flor.jpg);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center top;
    
}
